.menu > li {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    
}

.menu > li > a {
    background-color: blueviolet;
    padding: 15px;   
    border-radius: 12px;
    text-decoration: none;
    color: #FFF;
}

.menu {
    text-align: center;
}